/* Fonts */
@font-face {
  font-family: "Hornet";
  src: url("hornet.ttf");
}

/* Natural Tags */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "Hornet";
  background-color: black;
  color: rgb(136, 238, 136);
  user-select: none;
}

select {
  color: rgb(136, 238, 136);
  font-family: "Hornet";
  background-color: black;
  outline: none;
  border: 1px solid rgb(136, 238, 136);
  font-size: 16px;
}

option {
  border: 1px solid rgb(136, 238, 136);
}

input {
  background-color: black;
  border: none;
  font-size: 16px;
  font-family: monospace;
  color: rgb(184, 225, 221);
  border: 1px solid rgb(136, 238, 136);
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield; 
}

textarea {
  resize: none;
}

/* IDs */
#container {
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100%;
  height: 100%;
}

#subcontainer, #subcontainer2, #subcontainer3, #subcontainer4, #subcontainer5 {
  width: 65%;
  height: 65%;
  position: absolute;
}

#subcontainer2, #subcontainer3, #subcontainer4, #subcontainer5 {
  display: none;
}

#warnings, #issues, #issue-resolve-msg, #last-maintained, #router {
  width: 100%;
  text-align: center;
  margin: auto;
}

#time {
  width: 100%;
  text-align: center;
  margin: auto;
}

#autoclave-diagram {
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 500px;
  height: 150px;
  border: 1px solid rgb(136, 238, 136);
}

#autoclave-status {
  display: flex;
  justify-content: center; 
  align-items: center;
  width: 100px;
  height: 50px;
  border: 1px solid rgb(136, 238, 136);
}

#temp_gauge, #psi_gauge {
  text-align: center;
}

#autoclave-repair-btn, #cmd-btn, #repair-back-btn, #resolve-all-btn, #resolve-one-btn, #confirm-issue-choice-btn, #next-issue-btn, #end-resolution-btn, #reroute-back-btn, #command-back-btn {
  width: 20%;
}

#top-btns, #repair-back, #resolve-btns, #confirm-btns, #reroute-back, #command-back {
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

#confirm-btns {
  display: none;
}

#manual-reroute {
  display: none;
}

#manual-reroute-input, #manual-command-console-input {
  background-color: black;
  border: none;
  font-size: 16px;
  font-family: monospace;
  color: rgb(184, 225, 221);
  border: 1px solid rgb(136, 238, 136);
  outline: none;
}

#manual-command-console {
  width: 100%;
  height: 70%;
  border: 1px solid rgb(136, 238, 136);
  overflow-y: auto;
  font-family: monospace;
}

#warnings {
  height: 8%;
}

#warnings p {
  margin: 0;
}

#urgent-warnings {
  top: 5px;
  left: 5px;
  color: red;
  position: fixed;
}

#emergency-stop {
  top: 5px;
  right: 5px;
  position: fixed;
}

#chart-rate {
  right: 5px;
  bottom: 5px;
  position: fixed;
  z-index: 100;
}

#pressure-rate {
  left: 5px;
  bottom: 5px;
  position: fixed;
}

#emergency-stop-btn {
  color: orange;
  outline: 1px solid orange;
}

#automatic-controls, #semi-manual-controls, #command-list-2, #autoclave-plot {
  display: none;
}

#autoclave-plot {
  width: 400px;
  margin: auto;
  position: relative;
  justify-content: center;
  align-items: center;
}

#macro-window {
  width: 25%;
  height: 60%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  border: 1px solid rgb(136, 238, 136);
  opacity: 0.7;
  background-color: black;
  z-index: 101;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}

#macro-editor {
  width: 45%;
  height: 45%;
  position: fixed;
  left: 0px;
  bottom: 0px;
  border: 1px solid rgb(184, 225, 221);
  opacity: 0.7;
  background-color: black;
  z-index: 102;
  display: none;
}

#macro-window-content {
  overflow-y: auto;
  overflow-x: hidden;
}

#soft-macro-content, #create-macrosoft, #soft-macro-editor {
  display: none;
}

#js-textbox {
  display: none;
  width: 100%;
  height: 80%;
  overflow-y: auto;
}

#js-textbox-input {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 90%;
  border: 1px solid rgb(184, 225, 221);
  background-color: #363535;
  user-select: none;
  font-family: monospace;
  color: rgb(184, 222, 176);
  outline: none;
}

#more-macro-options {
  display: none;
}

/* Classes */
.warning {
  border: 1px solid red;
  color: red;
}

.w_100 {
  width: 100%;
}

.button {
  border: 1px solid rgb(136, 238, 136);
}

.button:hover {
  background-color: rgb(80, 152, 80);
}

.relative {
  position: relative;
}

.half-width {
  width: 50%;
}

.flex {
  display: flex;
  gap: 20px;
}

.twenty {
  width: 20%;
}

.seventy {
  width: 70%;
}

.btn-class {
  margin: auto;
  text-align: center;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.error {
  color: red;
}

.warning-console {
  color: yellow;
}

.raise-by {
  width: 5%;
}

.text-center {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.height-hundred {
  height: 100%;
}