html, body {
  scrollbar-width: auto;
  scrollbar-color: #79ae86 #001a00; 
}

::-webkit-scrollbar {
  width: 14px;
  background-color: #001a00; 
  border: 1px solid #79ae86; 
}

::-webkit-scrollbar-thumb {
  background-color: #79ae86; 
  background-image: 
    linear-gradient(45deg, rgba(0,0,0,0.2) 25%, transparent 25%, transparent 50%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.2) 75%, transparent 75%, transparent);
  background-size: 8px 8px;
  border: 1px solid #001a00; 
  box-shadow: 0 0 5px #79ae86; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #05ffb0; 
}

::-webkit-scrollbar-track {
  background: #000c00;
  border-left: 1px solid #004d00;
}