<!DOCTYPE html>
<html>
  <head>
    <title>
      Industrial Autoclave Interface
    </title>

    <link href="{{ url_for('static', filename='index.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='jetscroll.css') }}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div id="container">
      <div id="subcontainer">
        <div id="top-btns">
          <div id="autoclave-repair-btn" class="button">REPAIR</div>
          <div id="cmd-btn" class="button">COMMAND</div>
        </div>
        <p></p>
        <div id="warnings">
          <p>STANDBY</p>
        </div>
        <div id="autoclave-diagram">
          <div id="autoclave-status">
            <div>
              <p id="temp_gauge">TEMP</p>
              <p id="psi_gauge">PSI</p>
            </div>
          </div>
        </div>
        <div id="autoclave-plot">
        </div>
        <div id="time">
          <p>TIME: <a id="clock"></a></p>
          <p>EXTERNAL TEMP: <a id="etemp">STANDBY</a></p>
        </div>
        <div class="btn-class" id="automatic-controls">
          <div id="start-autoclave-btn" class="twenty button">START AUTOCLAVE</div>
          <div id="stop-autoclave-btn" class="twenty button">STOP AUTOCLAVE</div>
        </div>
        <div id="manual-controls">
          <div class="btn-class">CHANGE TEMP BY:&nbsp;<input type="number" id="temp-raise-amount" class="raise-by" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/>&nbsp;CHANGE PRESSURE BY:&nbsp;<input type="number" id="psi-raise-amount" class="raise-by" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/></div>
          <div class="btn-class">
            <div class="twenty button" id="raise-temp-manually">RAISE TEMP</div>
            <div class="twenty button" id="decrease-temp-manually">DECREASE TEMP</div>
          </div>
          <div class="btn-class">
            <div class="twenty button" id="raise-psi-manually">RAISE PSI</div>
            <div class="twenty button" id="decrease-psi-manually">DECREASE PSI</div>
          </div>
        </div>
        <div id="semi-manual-controls">
          <div class="btn-class">SET TEMP TO:&nbsp;<input type="number" id="temp-set-amount" class="raise-by" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/>&nbsp;SET PRESSURE TO:&nbsp;<input type="number" id="psi-set-amount" class="raise-by" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/></div>
          <div class="btn-class">
            <div class="twenty button" id="start-autoclave-semi">BRING TO LEVELS</div>
            <div class="twenty button" id="stop-autoclave-semi">STOP AUTOCLAVE</div>
          </div>
        </div>
      </div>
      <div id="subcontainer2"> 
        <div id="repair-back">
          <div id="repair-back-btn" class="button">RETURN</div>
        </div> 
        <div id="issues">
          <p>STANDBY</p>
        </div> 
        <div id="resolve-btns">
          <div id="resolve-all-btn" class="button">REROUTE SYSTEMS</div>
          <div id="resolve-one-btn" class="button">ISSUE SELECT</div>
        </div>
        <div id="issue-resolve-msg">
        </div>
        <div id="confirm-btns">
          <div id="confirm-issue-choice-btn" class="button">CONFIRM ISSUE</div>
          <div id="next-issue-btn" class="button">NEXT ISSUE</div>
          <div id="end-resolution-btn" class="button">END</div>
        </div>   
        <div id="last-maintained">
          <p id="lm-status">STANDBY</p>
          <div>POTENTIAL FAULTY PARTS: <a id="potential-faulty-parts">NONE</a></div>
        </div> 
        <!-- <div>
          <div>POTENTIAL FAULTY PARTS: <a id="potential-faulty-parts">NONE</a></div>
        </div> -->
      </div>
      <div id="subcontainer3">
        <div id="reroute-back">
          <div id="reroute-back-btn" class="button">RETURN TO REPAIR PANEL</div>
        </div>
        <div id="router">
          <p class="flex" id="manual-reroute">REROUTING <a id="which-reroute"></a> TO <input type="text" id="manual-reroute-input" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/> <a id="manual-reroute-button" class="button">REROUTE</a> <a id="manual-reroute-cancel" class="button">CANCEL</a></p>
          <p class="flex"><a id="reroute-bc-text">BOARD CONNECTION CHECK [BC_CHECK1]</a> <a id="reroute-bc" class="button">REROUTE</a></p>
          <p class="flex"><a id="reroute-bint-text">BATTERY INTERVAL [BAT_INT1]</a> <a id="reroute-bint" class="button">REROUTE</a></p>
          <p class="flex">VENDOR ID [<a id="vend_id"></a>] <a id="reroute-vendid" class="button">REROUTE</a></p>
          <p class="flex">BAUD RATE [<a id="baud_rate"></a>] <a id="reroute-baud" class="button">REROUTE</a></p>
          <p class="flex">BOARD PORT [<a id="board_port"></a>] <a id="reroute-boardport" class="button">REROUTE</a></p>
        </div>
      </div>
      <div id="subcontainer4">
        <div id="command-back">
          <div id="command-back-btn" class="button">RETURN</div>
        </div>
        <br/>
        <div id="command-list-1">
          <div id="cmd-buttons-1" class="btn-class">
            <div id="manual-command-console-btn" class="twenty button">MANUAL CMD CONSOLE</div>
            <div id="quit-btn" class="twenty button">DISCONNECT INTERFACE</div>
            <div id="scripting-console-btn" class="twenty button">SCRIPTING CONSOLE</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="ignore-console-errors-btn" class="twenty button">HIDE CONSOLE ERRORS</div>
            <div id="show-console-errors-btn" class="twenty button">SHOW CONSOLE ERRORS</div>
            <div id="refresh-interface-btn" class="twenty button">REFRESH INTERFACE</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="use-modelclave-btn" class="twenty button">USE MODELCLAVE</div>
            <div id="disconnect-modelclave-btn" class="twenty button">DISCONNECT MODELCLAVE</div>
            <div id="log-autoclave-btn" class="twenty button">LOG AUTOCLAVE</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="soft-reboot-btn" class="twenty button">SOFT REBOOT</div>
            <div id="call-off-emergency-btn" class="twenty button">CALL OFF EMERGENCY</div>
            <div id="clear-console-btn" class="twenty button">CLEAR CONSOLE</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="periodic-clearing-btn" class="twenty button">CLEAR PERIODICALLY</div>
            <div id="end-clearing-btn" class="twenty button">END CLEARING INTERVAL</div>
            <div id="cmd-list-2-btn" class="twenty button">COMMAND LIST 2</div>
          </div>
        </div>
        <div id="command-list-2">
          <div class="btn-class">
            <div id="cmd-list-1-btn" class="twenty button">COMMAND LIST 1</div>
            <div id="enable-voice-commands-btn" class="twenty button">ENABLE VOICE COMMANDS</div>
            <div id="disable-voice-commands-btn" class="twenty button">DISABLE VOICE COMMANDS</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="switch-displays-btn" class="twenty button">SWITCH DISPLAYS</div>
            <div id="expand-graph-btn" class="twenty button">EXPAND GRAPH</div>
            <div id="shrink-graph-btn" class="twenty button">SHRINK GRAPH</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="fullscreen-btn" class="twenty button">FULLSCREEN</div>
            <div id="open-macros-btn" class="twenty button">OPEN MACROS</div>
            <div id="create-instant-log-btn" class="twent button">CREATE INSTANT LOG</div>
          </div>
          <br/>
          <div class="btn-class">
            <!-- <div id="hide-x-gridlines-btn" class="twenty button">HIDE X GRID LINES</div>
            <div id="hide-y-gridlines-btn" class="twenty button">HIDE Y GRID LINES</div> -->
            <div id="hide-all-gridlines-btn" class="twenty button">HIDE GRID LINES</div>
            <div id="show-all-gridlines-btn" class="twenty button">SHOW GRID LINES</div>
            <div id="delete-all-soft-macros-btn" class="twenty button">DELETE ALL SOFT MACROS</div>
          </div>
          <br/>
          <div class="btn-class">
            <div id="hide-small-graphs-btn" class="twenty button">HIDE SMALL GRAPHS</div>
            <div id="show-small-graphs-btn" class="twenty button">SHOW SMALL GRAPHS</div>
          </div>
          <div class="btn-class">
            <p>PRESSURE IS PURPLE</p>
          </div>
        </div>
      </div>
      <div id="subcontainer5">
        <div class="btn-class">
          <div id="manual-command-console-back-btn" class="twenty button">RETURN</div>
        </div>
        <br/>
        <div id="manual-command-console">
        </div>
        <p>COMMAND OR FUNCTION: <input type="text" id="manual-command-console-input" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/> <a id="manual-command-console-input-submit" class="button">FINISH</a></p>
      </div>
      <div id="urgent-warnings"></div>
      <div id="emergency-stop">
        <div id="emergency-stop-btn" class="button">EMERGENCY STOP</div>
        <div>HEATER: <a id="heater-status">NO DATA</a></div>
        <div>INLET SOLENOID: <a id="pressure-tank-status">NO DATA</a></div>
        <div>OUTLET SOLENOID: <a id="pressure-tank-status2">NO DATA</a></div>
        <div>TEMP: <a id="temp_gauge2">NO DATA</a></div>
        <div>PSI: <a id="psi_gauge2">NO DATA</a></div>
      </div>
      <div id="chart-rate">
        <div>BOARD SET TEMP: <a id="board-set-temp">NONE</a></div>
        <div>INTERFACE SET TEMP: <a id="html-interface-set-temp">NONE</a></div>
        <div>DEVICE BATTERY: <a id="device-battery-percent">STANDBY</a></div>
        <div>AVG TEMP CHANGE RATE: <a id="temp-change-rate">NO DATA</a></div>
        <div>AVG PSI CHANGE RATE: <a id="psi-change-rate">NO DATA</a></div>
        <!-- <canvas id="temp-chart"></canvas> -->
      </div>
      <div id="pressure-rate">
        <div>
          <div>TEMP CHANGE RATE: <a id="real-temp-change-rate">NO DATA</a></div>
          <div>PSI CHANGE RATE: <a id="real-psi-change-rate">NO DATA</a></div>
          <div>USAGE: <a id="usage-mode">IDLE</a></div>
          <label for="autoclave-mode">MODE: </label>
          <select name="autoclave-mode" id="autoclave-mode">
            <option value="manual">MANUAL</option>
            <option value="semi-manual">SEMI-MANUAL</option>
            <option value="automatic">AUTOMATIC</option>
           </select>
        </div>
      </div>
      <div id="macro-window" class="draggable">
        <div class="seventy button text-center" id="close-window-macro-window">
          CLOSE WINDOW  
        </div>
        <div id="macro_status_msgs"></div>
        <div id="main-macro-btns">
          <div class="seventy button text-center" id="soft-macros-btn">
            SOFT MACROS
          </div>
          <div class="seventy button text-center" id="hard-macros-btn">
            HARD MACROS
          </div>
          <!-- <div class="seventy button text-center" id="javascript-macros-btn">
            JAVASCRIPT
          </div> -->
          <div class="seventy button text-center" id="board-macros-btn">
            BOARD MACROS
          </div>
        </div>
        <div id="macro-window-content">
          <div id="macro-default">
            <p>SOFT MACROS SHOULD BE TREATED AS TEMPORARY. THEY CAN ALSO BE USED WHEN THE INTERFACE IS DISCONNECTED.</p>
            <p>HARD MACROS CAN BE PERMANENT, BUT CANNOT BE USED WHEN THE INTERFACE IS DISCONNECTED.</p>
            <p>JAVASCRIPT MACROS CAN EITHER BE SOFT MACROS OR HARD MACROS, AND CAN BE RUN AT ANY TIME.</p>
            <p>BOARD MACROS ARE MACROS THAT HAVE BEEN SAVED TO THE BOARD.</p>
          </div>
          <div id="soft-macro-content">
            <div id="soft-macro-btns">
              <div class="seventy button text-center" id="return-soft-macro-btn">RETURN</div>
              <div class="seventy button text-center" id="create-new-soft-macro-btn">CREATE MACRO</div>
              <div class="seventy button text-center" id="delete-soft-macro-btn">DELETE MACRO</div>
              <div class="seventy button text-center" id="edit-soft-macro-btn">EDIT MACRO</div>
              <div class="seventy button text-center" id="select-soft-macro-to-run-btn">SELECT MACRO TO RUN</div>
            </div>
            <br/>
            <div id="create-macrosoft">MACRO NAME: <input type="text" id="soft-macro-name-to-create" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false"/> <a class="button" id="create-soft-macro-for-reals">CREATE</a><a class="button" id="cancel-create-soft-macro">CANCEL/RETURN</a></div>
            <div id="edit-macrosoft">
              <label for="edit-macro-select">EDITING: </label>
              <select name="edit-macro-select" id="edit-macro-select">
                <option value="">NONE</option>
              </select>
              <div></div>
              <a class="button" id="cancel-edit-macro">CANCEL EDIT/RETURN</a>
              <a class="button" id="select-edit-btn">EDIT</a>
              <br/>
            </div>
            <div id="delete-macrosoft">
              <label for="delete-macro-select">DELETING: </label>
              <select name="delete-macro-select" id="delete-macro-select">
                <option value="">NONE</option>
              </select>
              <div></div>
              <a class="button" id="cancel-edit-delete">CANCEL/RETURN</a>
              <a class="button" id="select-delete-btn">DELETE</a>
            </div>
            <br/>
            <div id="more-macro-options">
              <!-- <label for="macro-mode">SET TO: </label>
              <select name="macro-mode" id="macro-mode">
                <option value="run-when-called">RUN WHEN CALLED</option>
                <option value="run-with-autoclave">AUTOMATIC AUTOCLAVE MACRO</option>
              </select>
              <br/>
              <br/> -->
              <label for="js-macro-mode">(JAVASCRIPT ONLY) SET TO: </label>
              <select name="js-macro-mode" id="js-macro-mode">
                <option value=""></option>
                <option value="run-with-interface">RUN WHEN INTERFACE STARTS</option>
              </select>
            </div>
          </div> 
        </div>
      </div>
      <div id="macro-editor" class="draggable">
        <div class="btn-class">
          <div class="twenty button" id="close-window-macro-editor">CLOSE WINDOW</div>
          <div class="twenty button" id="set-mode-to-javascript">SET MODE TO JAVASCRIPT</div>
          <div class="twenty button" id="set-mode-to-default">SET MODE TO DEFAULT</div>
          <div class="twenty button" id="save-macro">SAVE MACRO</div>
        </div>
        <div id="js-textbox">
          <div class="btn-class height-hundred">
            <textarea id="js-textbox-input" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false"></textarea>
          </div>
        </div>
      </div>
    </div>

    <!-- Libraries -->
    <script src="{{ url_for('static', filename='/libs/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='/libs/jqueryui.js')}}"></script>
    
    <script src="{{ url_for('static', filename='chart.js' )}}"></script>
    <script src="{{ url_for('static', filename='more_comms.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js' )}}"></script>
    <script src="{{ url_for('static', filename='man_cmd_console.js' )}}"></script>
    <script src="{{ url_for('static', filename='voice_command.js' )}}"></script>
    <script src="{{ url_for('static', filename='part_wreckage_seeker.js' )}}"></script>
    <script src="{{ url_for('static', filename='soft_macros.js' )}}"></script>
    <script src="{{ url_for('static', filename='alarms.js')}}"></script>
  </body>
</html>